.typewriter {
  overflow: hidden; /* Ensures the text is cut off when typing */
  white-space: nowrap; /* Prevents wrapping */
  letter-spacing: 0.15em; /* Adjust spacing as needed */

  font-size: 4px; /* Adjust the font size according to your preference */
  padding-right: 100px;
  color: blue !important;
}

.cursor {
  display: inline-block;
  vertical-align: middle;
  animation: blink-caret 0.75s step-end infinite; /* Blinking cursor animation */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(186, 85, 54);
  }
}
